/*
 * (C) Copyright 2017 FriendlyElec Computer Tech. Co., Ltd.
 *
 * Modified for Rongpin RP6818 Board
 *
 * SPDX-License-Identifier:      GPL-2.0+
 */

/dts-v1/;
#include "s5p6818.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/irq.h>

/ {
	model = "Rongpin boards based on Nexell s5p6818";
	cpu-model = "S5p6818";

	compatible = "rongpin,rp6818", "nexell,s5p6818";

	aliases {
		mmc0 = "/mmc@c0069000";
		mmc1 = "/mmc@c0062000";
		i2c0 = "/i2c@c00a4000";
		i2c2 = "/i2c@c00a6000";
		i2c3 = "/i2c-gpio-3";
	};

	mmc0:mmc@c0062000 {
		frequency = <50000000>;
		nexell,drive_dly = <0x0>;
		nexell,drive_shift = <0x03>;
		nexell,sample_dly = <0x00>;
		nexell,sample_shift = <0x02>;
		status = "okay";
	};

	/* eMMC */
	mmc2:mmc@c0069000 {
		frequency = <50000000>;
		nexell,drive_dly = <0x0>;
		nexell,drive_shift = <0x03>;
		nexell,sample_dly = <0x00>;
		nexell,sample_shift = <0x02>;
		nexell,bus-width = <4>;
		index = <2>;
		status = "okay";
	};

	ehci:usbhost@c0030000 {
		status = "okay";
	};

	dwc2otg@c0040000 {
		status = "okay";
	};

	i2c0:i2c@c00a4000 {
		status ="okay";
		nexell,i2c-sda-delay = <100>;
		nexell,i2c-max-bus-freq = <100000>;
	};

	i2c2:i2c@c00a6000 {
		status ="okay";
		nexell,i2c-sda-delay = <100>;
		nexell,i2c-max-bus-freq = <200000>;
	};

	/* LVDS 屏幕配置 (1024x600) 保留 */
	dp0:dp@c0102800 {
		status = "okay";
		module = <0>;
		lcd-type = "lvds";

		dp-device {
			format = <0>;	/* 0:VESA, 1:JEIDA */
		};

		dp-sync {
			h_active_len = <1024>;
			h_front_porch = <84>;
			h_back_porch = <84>;
			h_sync_width = <88>;
			h_sync_invert = <0>;
			v_active_len = <600>;
			v_front_porch = <10>;
			v_back_porch = <10>;
			v_sync_width = <20>;
			v_sync_invert = <0>;
		};

		dp-ctrl {
			clk_src_lv0 = <3>;
			clk_div_lv0 = <16>;
			clk_src_lv1 = <7>;
			clk_div_lv1 = <1>;
			out_format = <2>;
		};

		dp-planes {
			layer_top {
				screen_width = <1024>;
				screen_height = <600>;
				back_color = <0x0>;
			};

			layer_1 {	/* RGB 1 */
				width = <1024>;
				height = <600>;
				format = <0x06530000>;
				pixel_byte = <4>;
			};
		};
	};

	/* --- 以下为荣品特有硬件，直接定义在根节点下 --- */

	/* 使用 GPIO 模拟 I2C 驱动 AXP228 */
	i2c3: i2c-gpio-3 {
		compatible = "i2c-gpio";
		gpios = <&gpioc 16 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>, /* SDA */
			    <&gpioc 15 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>; /* SCL */
		i2c-gpio,delay-us = <5>; /* 100KHz 速率 */
		#address-cells = <1>;
		#size-cells = <0>;
		status = "okay";
		
		axp228: pmic@3e {
			compatible = "x-powers,axp228";
			reg = <0x3e>;
			
			regulators {
				dcdc1_reg: dcdc1 {
					regulator-name = "vdd_sys_3.3V";
					regulator-min-microvolt = <3300000>;
					regulator-max-microvolt = <3300000>;
					regulator-always-on;
				};
				dcdc2_reg: dcdc2 {
					regulator-name = "vdd_arm_1.1V";
					regulator-min-microvolt = <1100000>;
					regulator-max-microvolt = <1100000>;
					regulator-always-on;
				};
				dcdc3_reg: dcdc3 {
					regulator-name = "vdd_core_1.0V";
					regulator-min-microvolt = <1000000>;
					regulator-max-microvolt = <1000000>;
					regulator-always-on;
				};
				dcdc4_reg: dcdc4 {
					regulator-name = "vdd_sys_1.45V";
					regulator-min-microvolt = <1450000>;
					regulator-max-microvolt = <1450000>;
					regulator-always-on;
				};
				dcdc5_reg: dcdc5 {
					regulator-name = "vdd_ddr_1.45V";
					regulator-min-microvolt = <1450000>;
					regulator-max-microvolt = <1450000>;
					regulator-always-on;
				};
				aldo1_reg: aldo1 {
					regulator-name = "valive_3.3V";
					regulator-min-microvolt = <3300000>;
					regulator-max-microvolt = <3300000>;
					regulator-always-on;
				};
			};
		};
	};

	/* Static Bus CS1 供 DM9000 网卡使用，直接映射物理地址 */
	ethernet@4000000 {
		compatible = "davicom,dm9000";
		reg = <0x04000000 0x2>, <0x04000004 0x2>;
		interrupt-parent = <&gpioc>;
		interrupts = <26 IRQ_TYPE_LEVEL_LOW>;
		davicom,no-eeprom;
	};
};
